* {
    font-family: Helvetica,Arial,sans-serif; 
    font-weight: 300;
}

html {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}

h1, h2, h3 {
    font-family: Georgia, serif;
    font-weight: 500;
    line-height: 1em;
}

.header {
    position: relative;
    background-color: black;
    text-align: center;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    clear: left;
    height: 1em;
}

.center {
    margin: 0 auto;
    min-height: calc(99vh - 40px);
    text-align: center;
    position: relative;

    border-color: white;
    border-width: thin;
    border-style: solid;
}

.small-button {
    width: auto;
    border: none;
    background-color: black;
    color: white;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px; 
}

/* Navigation bar elements */
#logo {
    height: 40px;
    padding: 4px 0px 4px 0px;
}

#menu-btn {
    float: left;
    height: 20px;
    margin: 15px 0px 0px 15px;
}

#fav-img {
    float: right;
    height: 20px;
    margin: 15px 15px;
}

#menu, #fav-link, div.entry p, div.ministry-img img {
    display: none;
}

#lhs-list {
    float: left;
    margin: 20px;
    margin-bottom: 0px;
}

#rhs-list {
    float: left;
    margin: 20px;
}

.entry {
    border-color: #e3e3e3;
    border-style: solid;
    border-width: thin;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
    padding-top: 0px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

div.entry h2 {
    font-size: 16px;
}

div.entry a {
    text-decoration: none;
    color: black;
    font-family: Georgia, serif;
}

.page-lhs, .page-rhs {
    display: inline-block;
    text-align: left;
    padding: 20px 20px 0px 20px;
}

.page-lhs {
    float: left;
}

.page-rhs {
    clear: both;
    line-height: 1em;
}

.home-info-elem {
    margin: auto;
    margin-top: 25vh;
    width: 300px;
}

#split-center {
    align-content: left;
    text-align: left;
}

/* Login screen elements */
#login-block {
    text-align: center;
    margin: auto;
    margin-top: 25vh;
    width: 300px;
    border-color: #e3e3e3;
    border-width: thin;
    border-style: solid;
    background-color: #e3e3e3;
    border-radius: 8px;
}

div#login-block a {
    color: gray;
}

#username, #password {
    margin: 20px auto 10px auto;
    height: 2em;
    min-width: 150px;
    border: 1px solid #e3e3e3;;
    border-radius: 4px;
    padding-left: 10px;
    display: block;
}

/* Account/favorites page items */
#acct-rhs, #acct-lhs {
    box-sizing:border-box;
    float: left;
    padding: 20px;
    width: 100%;
}

#acct-lhs {
    padding-top: 0px;
}

#account-title {
    padding: 20px 0px 0px 20px;
}

/** Non-phone view styles **/
@media all and (min-width: 376px) {    
    div.header li {
        list-style-type: none;
        margin: auto 1vw;
    }

    div.header ul {
        padding: 0px;
        margin: 0px;
        display: flex;
        height:100%;
    }

    .page-lhs, .page-rhs {
        display: inline-block;
        width: 43%;
        padding: 40px 40px 0px 40px;
    }

    .page-lhs {
        min-width: 420px;
    }

    div.rhs .small-button {
        margin-left: 0px;
    }

    #stack-center {
        text-align: left;
        padding: 40px;
    }

    .nav, .spacer {
        height: 2em;
    }

    #lhs-list {
        margin: 40px;
        width: 15%;
    }

    #rhs-list {
        width: 72%;
        margin: 40px;
        margin-top: 0px;
    }

    div.ministry-img img {
        display: block;
        width: 100%;
        padding: 0px;
    }
    
    div.entry p {
        display: inline;
    }

    #acct-rhs, #acct-lhs {
        width: 50%;
    }

    #acct-rhs {
        padding: 20px 40px 40px 20px; 
    }

    #acct-lhs {
        padding: 20px 20px 40px 40px;
    }

    #account-title {
        padding: 40px 0px 0px 40px;
    }
}
/** Uncollapse the buttons once the elements don't overlap **/
@media all and (min-width: 580px) {
    #fav-img, #menu-btn  {
        display: none;
    }
    
    #menu, #fav-link {
        display: inline-block;
        position: absolute;
        height: 100%;
    }
    
    #fav-link {
        right: 0px;
    }
    
    #menu {
        left: 0px;
    }
    
    div.header a {
        text-decoration: none;
        color: white;
        display: inline-block;
        margin-top: 1em;
    }
    
    div#fav-link a {
        margin-right: 10px;
    }
    
    div#menu a {
        margin-left: 10px;
    }
}